font-family: 'Permanent Marker', cursive;
font-family: 'Baloo Chettan', cursive;
font-family: 'Audiowide', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Rock Salt', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'Rancho', cursive;
font-family: 'Allerta Stencil', sans-serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'Cinzel Decorative', cursive;
font-family: 'Aladin', cursive;
font-family: 'Emilys Candy', cursive;
font-family: 'Vast Shadow', cursive;
font-family: 'Iceland', cursive;
font-family: 'Frijole', cursive;
font-family: 'Miltonian', cursive;
font-family: 'Londrina Shadow', cursive;
font-family: 'Jacques Francois Shadow', cursive;
